In [2]:
print("Hola Mundo")

Hola Mundo

# Identacion

In [5]:
variable = 5

if variable == 5:
    print("Es verdadero")
else:
    print("Es falso")

Es verdadero

In [7]:
variable = 5

if variable == 5:
print("Es verdadero")
else:
    print("Es falso")

IndentationError: expected an indented block after 'if' statement on line 3 (552036060.py, line 4)

# Comentarios

In [10]:

variable = 5

# se va a comparar la variable 'variable' con el valor = 5 y tendra como respuesta en caso un print
"""
se va a comparar la variable 'variable' con el valor = 5 y tendra como respuesta en caso un print
"""
if variable == 5:
    print("Es verdadero")
    print(1)
    print("FIN")
else:
    print("Es falso")

Es verdadero
1
FIN

# Variables y tipos de datos

In [11]:
nombre = 'Juan' # variable de tipo string
edad = 30 # variable de tipo int
altura = 1.70 # variable de tipo float
es_estudiante = True # variable de tipo bool

print(nombre)
print(edad)
print(altura)
print(es_estudiante)

Juan
30
1.7
True

In [12]:
print(type(nombre))
print(type(edad))
print(type(altura))
print(type(es_estudiante))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# Tipos de datos - Listas

In [15]:
# lista vacia
lista_1 = []

# lista enteros
lista_2 = [1,2,3,4,5]

# lista strings
list_3 = ["apple","Hello","xyz"]

# lista mixta
lista_4 = [2,3,"Hello", 44.4]

# lista anidada
lista_5 = [1,2,["Hello", 44.4], ["x"]]

In [16]:
print(lista_5)

[1, 2, ['Hello', 44.4], ['x']]

In [18]:
# accediendo a elementos en una lista
"""
Referencia de indices:
a -> 0
b -> 1
c -> 2
d -> 3
e -> 4
f -> 5
"""
lista = ["a","b","c","d","e","f"]

In [22]:
print(lista[3])
print(lista[2])

d
c

In [24]:
print(lista_5[2][0])

Hello

In [26]:
lista = ["a","b","c","d","e","f"]
# lista[2:4] -> indice 2 hasta la indice 3
# lista[2:5] -> indice 2 hasta la indice 4
print(lista[2:5])

['c', 'd', 'e']

# Tipos de datos - Tuplas

In [28]:
# Tupla vacia
tupla_1 = ()
print(tupla_1)

# Tupla de enteros
tupla_2 = (1,2,3)
print(tupla_2)

# Tupla mixta
tupla_3 = (1,"Hello", 4.4)
print(tupla_3)

# tuplas anidadas
tupla_4 = ("apple", 1,[1,2,3], (4,9,6))
print(tupla_4)

()
(1, 2, 3)
(1, 'Hello', 4.4)
('apple', 1, [1, 2, 3], (4, 9, 6))

In [31]:
tupla = ("Hello")
print(type(tupla))

<class 'str'>

In [32]:
tupla = ("Hello",)
print(type(tupla))

<class 'tuple'>

In [35]:
tupla = "Hello",3,4.5
print(type(tupla))

<class 'tuple'>

In [36]:
tupla = "a","b","c","d","e","f"
print(type(tupla))

<class 'tuple'>

In [42]:
print(tupla[0])
print(tupla[2])
print(tupla_4[3][1])
print(tupla[1:4])

a
c
9
('b', 'c', 'd')

# Tipo de datos - Diccionario

In [43]:
# diccionario vacio
diccionario_1 = {}

# diccionario con claves enteras
diccionario_2 = {1:"Juan", 2: 'Perez'}

# diccionario con claves mixtas
diccionario_3 = {"nombre":"Jhon", 1:[1,2,3,4]}

print(diccionario_3)

{'nombre': 'Jhon', 1: [1, 2, 3, 4]}

In [47]:
diccionario = {"nombre":"Jack", "edad": 24, "pais":"Peru"}

print(diccionario['direccion'])

KeyError: 'direccion'

In [50]:
print(diccionario.get('direccion'))

Calle A

In [49]:
diccionario['direccion'] = "Calle A"

In [51]:
diccionario['direccion'] = "Calle B"

In [52]:
print(diccionario.get('direccion'))

Calle B

In [57]:
for item in lista:
    print(item)

a
b
c
d
e
f

In [54]:
for item in tupla:
    print(item)

a
b
c
d
e
f

In [58]:
for clave, valor in diccionario.items():
    print(clave, valor)

nombre Jack
edad 24
pais Peru
direccion Calle B

In [59]:
for clave in diccionario.keys():
    print(diccionario[clave])

Jack
24
Peru
Calle B

# Control de flujo

In [65]:
# Control de flujo condicional
numero = 7

if numero > 0:
    print("El numero es positivo")
print("Siempre se ejecuta")

El numero es positivo
Siempre se ejecuta

In [66]:
# if .... else ...
if numero > 0:
    print("El numero es positivo")
    if numero < 5:
        print("El numero es menor a 5")
    else:
        print("El numero es mayor a 5")
else:
    print("El numero es negativo")
print("Siempre se ejecuta")

El numero es positivo
El numero es mayor a 5
Siempre se ejecuta

In [70]:
# Bucles 
for item in lista:
    print(f"El elemento de la lista es {item}")

El elemento de la lista es a
El elemento de la lista es b
El elemento de la lista es c
El elemento de la lista es d
El elemento de la lista es e
El elemento de la lista es f

In [73]:
#while
n = 10
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i + 1

print(f"La suma es {sum}")

La suma es 55

In [76]:
try:
    print(234/0)
except Exception as e:
    print("Error")
    print(e)

Error
division by zero

# Funciones

In [77]:
def funcion1(x):
    return 2*x
    
y = funcion1(3)
print(y)

6

In [ ]:
def clean_data(dataset):
    """
    describir que hace la funcion
    parametros de entrada:

    dataset: es un dataframe
    list_colm: lista de columnas

    Salida:

    df: dataframe filtrado
    """
    df = dataset.query("colum1 != null")
    df = df.select['columna1', 'columna2', 'columna3']
    return df